<div appBsModal #createOrEditItemMasterModal="bs-modal" (onShown)="onShown()"
    class="modal fade create-or-edit-user-modal" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditItemMasterModal" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active && itemMasterForm" [formGroup]="itemMasterForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="itemMasterForm.get('id').value">{{ 'EditItem' | localize }}: {{
                            itemMasterForm.get('name').value }}</span>
                        <span *ngIf="!itemMasterForm.get('id').value">{{ 'CreateNewItem' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"ItemCategory" | localize}}</label>
                                <select placeholder="Select Item Category" class="form-control" #itemCategoryInput
                                    formControlName="itemCategory" id="itemCategory" name="itemCategory"
                                    [ngClass]="{ 'is-invalid': submitted && itemMasterForm.get('itemCategory').errors }">
                                    <option *ngFor="let itemCategory of itemCategoriesList"
                                        value="{{ itemCategory.value }}">
                                        {{ itemCategory.title }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && itemMasterForm.get('itemCategory').errors"
                                    class="invalid-feedback">
                                    <div *ngIf="itemMasterForm.get('itemCategory').errors.required">
                                        Item Category is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"ItemName" | localize}}</label>
                                <input #itemNameInput id="itemName" class="form-control" type="text" name="itemName"
                                    formControlName="itemName"
                                    [ngClass]="{ 'is-invalid': submitted && itemMasterForm.get('itemName').errors }">
                                <div *ngIf="submitted && itemMasterForm.get('itemName').errors"
                                    class="invalid-feedback">
                                    <div *ngIf="itemMasterForm.get('itemName').errors.required">
                                        Item Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"GenericName" | localize}}</label>
                                <input #genericNameInput id="genericName" class="form-control" type="text"
                                    name="genericName" formControlName="genericName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"Alias" | localize}}</label>
                                <input #aliasInput id="alias" class="form-control" type="text" name="alias"
                                    formControlName="alias">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"ItemType" | localize}}</label>
                                <select placeholder="Select Item Type" class="form-control" #itemTypeInput
                                    formControlName="itemType" id="itemType" name="itemType">
                                    <option *ngFor="let itemType of itemTypeList" value="{{ itemType.value }}">
                                        {{ itemType.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"AMCRequired" | localize}}</label>
                                <select placeholder="Select Option" class="form-control" #amcRequiredInput
                                    formControlName="amcRequired" id="amcRequired" name="amcRequired">
                                    <option *ngFor="let option of amcRequirementList" value="{{ option.value }}">
                                        {{ option.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"Model" | localize}}</label>
                                <input #modelInput id="model" class="form-control" type="text" name="model"
                                    formControlName="model">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{"SerialNumber" | localize}}</label>
                                <input #serialNumberInput id="serialNumber" class="form-control" type="text"
                                    name="serialNumber" formControlName="serialNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{"Specifications" | localize}}</label>
                                <textarea #specificationsInput id="specifications" class="form-control" type="text"
                                    rows="3" name="specifications" formControlName="specifications"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{"StorageConditions" | localize}}</label>
                                <input #storageConditionsInput id="storageConditions" class="form-control" type="text"
                                    name="storageConditions" formControlName="storageConditions">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"ItemMobility" | localize}}</label>
                                <select placeholder="Select Option" class="form-control" #itemMobilityInput
                                    formControlName="itemMobility" id="itemMobility" name="itemMobility">
                                    <option *ngFor="let itemMobility of itemMobilityList"
                                        value="{{ itemMobility.value }}">
                                        {{ itemMobility.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"CalibrationRequirement" | localize}}</label>
                                <select placeholder="Select Option" class="form-control" #calibrationRequirementInput
                                    formControlName="calibrationRequirement" id="calibrationRequirement"
                                    name="calibrationRequirement">
                                    <option *ngFor="let calibrationRequirement of calibrationRequirementList"
                                        value="{{ calibrationRequirement.value }}">
                                        {{ calibrationRequirement.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"SuppliedBy" | localize}}</label>
                                <select placeholder="Select Option" class="form-control" #supplierIdInput
                                    formControlName="supplierId" id="supplierId" name="supplierId">
                                    <option *ngFor="let supplierItem of supplierList" value="{{ supplierItem.id }}">
                                        {{ supplierItem.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" (click)="addCalibrationType()">
                            <i class="fa fa-plus"></i>
                            {{ 'AddCalibrationType' | localize }}
                        </button>
                    </div>
                    <div formArrayName="itemCalibrationTypes" class="mb-4">
                        <div class="card mb-3"
                            *ngFor="let calibrationTypeItem of itemCalibrationTypes.controls; let index = index">
                            <div [formGroupName]="index" class="p-3">
                                <div class="col-md-12 row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"CalibrationType" | localize}}</label>
                                            <select placeholder="Select Item Category" class="form-control" #typeInput
                                                formControlName="type" id="type" name="type"
                                                [ngClass]="{ 'is-invalid': submitted && calibrationTypeItem.get('type').errors }">
                                                <option *ngFor="let calibrationType of calibrationTypeList"
                                                    value="{{ calibrationType.value }}">
                                                    {{ calibrationType.title }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && calibrationTypeItem.get('type').errors"
                                                class="invalid-feedback">
                                                <div *ngIf="calibrationTypeItem.get('type').errors.required">
                                                    Calibration Type is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>{{"CalibrationFrequency" | localize}}</label>
                                            <select placeholder="Select Item Category" class="form-control"
                                                #frequencyInput formControlName="frequency" id="frequency"
                                                name="frequency"
                                                [ngClass]="{ 'is-invalid': submitted && calibrationTypeItem.get('frequency').errors }">
                                                <option *ngFor="let calibrationFrequency of calibrationFrequencyList"
                                                    value="{{ calibrationFrequency.value }}">
                                                    {{ calibrationFrequency.title }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && calibrationTypeItem.get('frequency').errors"
                                                class="invalid-feedback">
                                                <div *ngIf="calibrationTypeItem.get('frequency').errors.required">
                                                    Calibration Frequency is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="mt-5 text-center">
                                            <h3>
                                                <i class="fa fa-trash"
                                                    *ngIf="!calibrationTypeItem.value.id && itemCalibrationTypes.controls.length > 1"
                                                    (click)="deleteCalibrationTypeItem(index)"></i>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" (click)="addCalibrationAgency()">
                            <i class="fa fa-plus"></i>
                            {{ 'AddCalibrationAgency' | localize }}
                        </button>
                    </div>
                    <div formArrayName="itemCalibrationAgencies" class="mb-4">
                        <div class="card mb-3"
                            *ngFor="let calibrationAgencyItem of itemCalibrationAgencies.controls; let index = index">
                            <div [formGroupName]="index" class="p-3">
                                <div class="col-md-12 row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"Supplier" | localize}}</label>
                                            <select placeholder="Select Item Category" class="form-control"
                                                #supplierIdInput formControlName="supplierId" id="supplierId"
                                                name="supplierId"
                                                [ngClass]="{ 'is-invalid': submitted && calibrationAgencyItem.get('supplierId').errors }">
                                                <option *ngFor="let supplierItem of supplierList"
                                                    value="{{ supplierItem.id }}">
                                                    {{ supplierItem.name }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && calibrationAgencyItem.get('supplierId').errors"
                                                class="invalid-feedback">
                                                <div *ngIf="calibrationAgencyItem.get('supplierId').errors.required">
                                                    Supplier is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="mt-5 text-center">
                                            <h3>
                                                <i class="fa fa-trash"
                                                    *ngIf="!calibrationAgencyItem.value.id && itemCalibrationAgencies.controls.length > 1"
                                                    (click)="deleteCalibrationAgencyItem(index)"></i>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"GST%" | localize}}</label>
                                <input #gstInput id="gst" class="form-control" type="number" name="gst"
                                    formControlName="gst"
                                    [ngClass]="{ 'is-invalid': submitted && itemMasterForm.get('gst').errors }">
                                <div *ngIf="submitted && itemMasterForm.get('gst').errors" class="invalid-feedback">
                                    <div *ngIf="itemMasterForm.get('gst').errors.required">
                                        GST is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"HSNCode" | localize}}</label>
                                <input #hsnCodeInput id="hsnCode" class="form-control" type="text" name="hsnCode"
                                    formControlName="hsnCode"
                                    [ngClass]="{ 'is-invalid': submitted && itemMasterForm.get('hsnCode').errors }">
                                <div *ngIf="submitted && itemMasterForm.get('hsnCode').errors" class="invalid-feedback">
                                    <div *ngIf="itemMasterForm.get('hsnCode').errors.required">
                                        HSN Code is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"PurchaseValue" | localize}}</label>
                                <input #purchaseValueInput id="purchaseValue" class="form-control" type="number"
                                    name="purchaseValue" formControlName="purchaseValue">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"PurchaseDate" | localize}}</label>
                                <input #purchaseDateInput id="purchaseDate" class="form-control" type="date"
                                    name="purchaseDate" formControlName="purchaseDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"OrderingRate" | localize}}</label>
                                <input #orderingRateInput id="orderingRate" class="form-control" type="number" name="orderingRate"
                                    formControlName="orderingRate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"Quantity" | localize}}</label>
                                <input #quantityInput id="quantity" class="form-control" type="number" name="quantity"
                                    formControlName="quantity">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"RatePerQuantity" | localize}}</label>
                                <input #ratePerQuantityInput id="ratePerQuantity" class="form-control" type="number"
                                    name="ratePerQuantity" formControlName="ratePerQuantity">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"RateAsOnDate" | localize}}</label>
                                <input #rateAsOnDateInput id="rateAsOnDate" class="form-control" type="number"
                                    name="rateAsOnDate" formControlName="rateAsOnDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"LeadTime" | localize}}</label>
                                <input #leadTimeInput id="leadTime" class="form-control" type="number" name="leadTime" step="1"
                                    formControlName="leadTime">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>{{"SupplierItemName" | localize}}</label>
                                <input #supplierItemNameInput id="supplierItemName" class="form-control" type="text" name="supplierItemName"
                                    formControlName="supplierItemName">
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" (click)="addItemSupplier()">
                            <i class="fa fa-plus"></i>
                            {{ 'AddNewSupplier' | localize }}
                        </button>
                    </div>
                    <div formArrayName="itemSuppliers" class="mb-4">
                        <div class="card mb-3"
                            *ngFor="let itemSupplier of itemSuppliers.controls; let index = index">
                            <div [formGroupName]="index" class="p-3">
                                <div class="col-md-12 row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"Supplier" | localize}}</label>
                                            <select placeholder="Select Item Category" class="form-control"
                                                #supplierIdInput formControlName="supplierId" id="supplierId"
                                                name="supplierId">
                                                <option *ngFor="let supplierItem of supplierList"
                                                    value="{{ supplierItem.id }}">
                                                    {{ supplierItem.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="mt-5 text-center">
                                            <h3>
                                                <i class="fa fa-trash"
                                                    *ngIf="!itemSupplier.value.id && itemSuppliers.controls.length > 1"
                                                    (click)="deleteItemSupplier(index)"></i>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>