<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ItemMasters' | localize" [description]="'ItemsHeaderInfo' | localize">
            <div role="actions">
                <button
                    (click)="createItem()"
                    class="btn btn-primary"
                >
                <!-- *ngIf="'Pages.Administration.Users.Create' | permission" -->
                    <i class="fa fa-plus"></i>
                    {{ 'CreateNewItem' | localize }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('SearchWithThreeDot')"
                                                type="text"
                                            />
                                            <button (click)="getItems()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                sortMode="multiple"
                                (onLazyLoad)="getItems($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                scrollDirection="horizontal"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 120px">
                                        <!-- [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Users.Impersonation',
                                                        'Pages.Administration.Users.Edit',
                                                        'Pages.Administration.Users.ChangePermissions',
                                                        'Pages.Administration.Users.Delete'
                                                    ] | permissionAny
                                                )
                                            " -->
                                            {{ 'Actions' | localize }}
                                        </th>
                                        <th style="width: 130px" pSortableColumn="ItemName">
                                            {{ 'ItemCode' | localize }}
                                            <!-- <p-sortIcon field="ItemName"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 160px" pSortableColumn="ItemName">
                                            {{ 'ItemName' | localize }}
                                            <p-sortIcon field="ItemName"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" pSortableColumn="GenericName">
                                            {{ 'GenericName' | localize }}
                                            <p-sortIcon field="GenericName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Make">
                                            {{ 'Make' | localize }}
                                            <p-sortIcon field="Make"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="UnitName">
                                            {{ 'Unit' | localize }}
                                            <p-sortIcon field="UnitName"></p-sortIcon>
                                        </th>
                                       
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td  style="width: 120px">
                                        <!-- [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Users.Impersonation',
                                                        'Pages.Administration.Users.Edit',
                                                        'Pages.Administration.Users.ChangePermissions',
                                                        'Pages.Administration.Users.Delete'
                                                    ] | permissionAny
                                                )
                                            " -->
                                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                                <button
                                                    id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu"
                                                >
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ 'Actions' | localize }}
                                                </button>
                                                <ul
                                                    id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton"
                                                >
                                                <li role="menuitem">
                                                        <!--*ngIf="'Pages.Administration.Users.Edit' | permission" -->
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="createOrEditItemMasterModal.show(record.id)"
                                                        >
                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                    <!-- *ngIf="
                                                    'Pages.Administration.Users.ChangePermissions' | permission
                                                " -->
                                                        
                                                    </li>
                                                    <li role="menuitem">
                                                    <!-- *ngIf="'Pages.Administration.Users.Delete' | permission" -->
                                                        
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteItem(record)"
                                                        >
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 130px">
                                            <span class="p-column-title">{{ 'ItemCode' | localize }}</span>
                                            {{ record.categoryId }} - {{ record.itemId }}
                                        </td>
                                        <td style="width: 160px">
                                            <span class="p-column-title">{{ 'ItemName' | localize }}</span>
                                            {{ record.itemName }}
                                        </td>
                                        <td style="width: 170px">
                                            <span class="p-column-title">{{ 'GenericName' | localize }}</span>
                                            {{ record.genericName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ 'Make' | localize }}</span>
                                            {{ record.make }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ 'Unit' | localize }}</span>
                                            {{ record.unitName }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getItems($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- <create-edit-supplier-modal #createOrEditItemModal (modalSave)="getItems()"></create-edit-supplier-modal> -->
    </div>
</div>
