<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade create-or-edit-user-modal"
    tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active && materialRequisitionForm" [formGroup]="materialRequisitionForm" novalidate
                (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="materialRequisitionForm.get('id')?.value">{{ 'EditMaterialRequisition' | localize
                            }}: {{ materialRequisitionForm.get('itemName')?.value }}</span>
                        <span *ngIf="!materialRequisitionForm.get('id').value">{{ 'CreateNewMaterialRequisition' |
                            localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"MRIDate" | localize}}</label>
                                <input #mriDateInput id="mriDate" class="form-control" type="date" name="mriDate"
                                    formControlName="mriDate">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"MRINumber" | localize}}</label>
                                <input #mriNumberInput id="mriNumber" class="form-control" type="text" name="mriNumber"
                                    formControlName="mriNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-3" *ngIf="materialRequisitionForm.contains('location')">
                            <div class="form-group">
                                <label>{{"Location" | localize}}</label>
                                <select placeholder="Select" class="form-control" #locationInput
                                    formControlName="location" id="location" name="location">
                                    <option *ngFor="let locationItem of locationList" value="{{ locationItem.value }}">
                                        {{ locationItem.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"User" | localize}}</label>
                                <select placeholder="Select" class="form-control" #userIdInput formControlName="userId"
                                    id="userId" name="userId">
                                    <option *ngFor="let locationItem of locationList" value="{{ locationItem.value }}">
                                        {{ locationItem.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>{{"UsedFor" | localize}}</label>
                                <input #usedForInput id="usedFor" class="form-control" type="text" name="usedFor"
                                    formControlName="usedFor">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4 mt-5">
                        <div class="col-md-4" *ngFor="let materialRequisitionType of materialRequisitionTypeList">
                            &nbsp; <input type="radio" id="materialRequisitionType"
                                formControlName="materialRequisitionType"
                                [checked]="materialRequisitionType.value == materialRequisitionForm.get('materialRequisitionType')?.value"
                                [value]="materialRequisitionType.value"
                                (change)="selectMaterialRequisition(materialRequisitionType.value)" /> &nbsp; <label> {{
                                materialRequisitionType.title }} </label>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4 mt-5"
                        *ngIf="materialRequisitionForm.get('materialRequisitionType').value">
                        <div class="row col-md-12"
                            *ngIf="materialRequisitionForm.get('materialRequisitionType').value == 1">
                            <div class="form-group col-md-4">
                                <label>{{"Item Category" | localize}}</label>
                                <select placeholder="Select Category" class="form-control" #itemCategoryInput
                                    id="itemCategoryId" name="itemCategory"
                                    (change)="onItemCategorySelect($event.target.value)">
                                    <option *ngFor="let itemCategory of itemCategories" value="{{ itemCategory.id }}">
                                        {{ itemCategory.name }}
                                    </option>
                                </select>
                            </div>
                            <!-- <div  class="form-group col-md-4" *ngIf="itemList.length > 0">
                            <label>{{"Item" | localize}}</label>
                            <select placeholder="Select item" class="form-control" #itemInput id="item" name="item">
                                <option *ngFor="let item of itemList" value="{{ item.id }}">
                                    {{ item.itemName }}
                                </option>
                            </select>
                        </div> -->
                            <div class="col-md-4 mt-5">
                                <button type="button" class="btn btn-primary" (click)="onItemCategoryWiseItemsAdd()">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ 'Add' | localize }}</span>
                                </button>
                            </div>
                        </div>
                        <div class="row col-md-12"
                            *ngIf="materialRequisitionForm.get('materialRequisitionType').value == 2">
                            <div class="form-group col-md-5">
                                <label>{{"Assembly" | localize}}</label>
                                <select placeholder="Select Assembly" class="form-control" #assemblyIdInput
                                    id="assemblyId" name="assemblyId" (change)="onAssemblySelect($event.target.value)">
                                    <option *ngFor="let assemblyItem of assemblyList" value="{{ assemblyItem.id }}">
                                        {{ assemblyItem.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-5">
                                <button type="button" class="btn btn-primary" (click)="onAssemblyWiseItemsAdd()">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ 'Add' | localize }}</span>
                                </button>
                            </div>
                        </div>
                        <div class="row col-md-12"
                            *ngIf="materialRequisitionForm.get('materialRequisitionType').value == 3">
                            <div class="form-group col-md-5">
                                <label>{{"Model" | localize}}</label>
                                <select placeholder="Select model" class="form-control" #modelIdInput id="modelId"
                                    name="modelId" (change)="onModelSelect($event.target.value)">
                                    <option *ngFor="let model of modelList" value="{{ model.id }}">
                                        {{ model.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-5">
                                <button type="button" class="btn btn-primary" (click)="onModelWiseItemsAdd()">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ 'Add' | localize }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <table class="table table-striped table-hover table-bordered text-center">
                            <thead class="primary">
                                <tr class="uppercase">
                                    <!-- <th colspan="2">MEMBER</th> -->
                                    <th>Name</th>
                                    <th>Item Name</th>
                                    <th>Req. Qty</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    ABCD
                                </td>
                                <td>
                                    EFGH
                                </td>
                                <td>
                                    IJKL
                                </td>
                                <td>
                                    WXYZ
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"ProjectNo" | localize}}</label>
                                <input #projectNumberInput id="projectNumber" class="form-control" type="text"
                                    name="projectNumber" formControlName="projectNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{"RequiredByDate" | localize}}</label>
                                <input #requireByDateInput id="requireByDate" class="form-control" type="date"
                                    name="requireByDate" formControlName="requireByDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-4">
                        <div class="form-group">
                            <label>{{"Comments" | localize}}</label>
                            <input #commentsInput id="comments" class="form-control" type="text" name="comments"
                                formControlName="comments">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>