<div appBsModal #createOrEditCompanyModal="bs-modal" (onShown)="onShown()" class="modal fade create-or-edit-user-modal"
    tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active && companyForm" [formGroup]="companyForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="companyForm.get('id').value">{{ 'EditCompany' | localize }} : {{
                            companyForm.get('name').value }}</span>
                        <span *ngIf="!companyForm.get('name').value">{{ 'CreateNewCompany' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row mb-4">
                        <div class="form-group">
                            <label>{{"CompanyName" | localize}}</label>
                            <input #nameInput id="name" class="form-control" type="text" name="name"
                                formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && companyForm.get('name').errors }">
                            <div *ngIf="submitted && companyForm.get('name').errors" class="invalid-feedback">
                                <div *ngIf="companyForm.get('name').errors.required">
                                    Company name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" (click)="addCompanyAddress()">
                            <i class="fa fa-plus"></i>
                            {{ 'AddNewAddress' | localize }}
                        </button>
                    </div>
                    <div formArrayName="companyAddresses" class="mb-4 col-md-12 row">
                        <div class="mb-3" *ngFor="let companyAddress of companyAddresses.controls; let index = index">
                            <div [formGroupName]="index">
                                <div class=" mb-4">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{"Address" | localize}}</label>
                                            <textarea #addressInput id="address" class="form-control" type="text"
                                                rows="3" name="address" formControlName="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" (click)="addCompanyContactPerson()">
                            <i class="fa fa-plus"></i>
                            {{ 'AddNewContactPerson' | localize }}
                        </button>
                    </div>
                    <div formArrayName="companyContactPersons" class="mb-4 col-md-12 row">
                        <div class="mb-3"
                            *ngFor="let companyContactPerson of companyContactPersons.controls; let index = index">
                            <div [formGroupName]="index">
                                <div class="col-md-12 row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"ContactPersonName" | localize}}</label>
                                            <input #contactPersonNameInput id="contactPersonName" class="form-control"
                                                type="text" name="contactPersonName" formControlName="contactPersonName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"Designation" | localize}}</label>
                                            <input #designationInput id="designation" class="form-control"
                                            type="text" name="designation" formControlName="designation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"EmailId" | localize}}</label>
                                            <input #emailIdInput id="emailId" class="form-control"
                                                type="text" name="emailId" formControlName="emailId">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{"MobileNumber" | localize}}</label>
                                            <input #mobileNumberInput id="mobileNumber" class="form-control"
                                            type="text" name="mobileNumber" formControlName="mobileNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>