<div
    appBsModal
    #createOrEditModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade create-or-edit-user-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active && supplierForm" [formGroup]="supplierForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="supplierItem.id">{{ 'EditSupplier' | localize }}: {{ supplierItem.name }}</span>
                        <span *ngIf="!supplierItem.id">{{ 'CreateNewSupplier' | localize }}</span>
                    </h4>
                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        [attr.aria-label]="l('Close')"
                        [disabled]="saving"
                    >
                    </button>
                </div>
                <div class="modal-body">
                    <tabset #tabs class="nav-tabs">
                        <tab class="pt-5" heading="{{ 'GeneralInfo' | localize }}">
                            <div class="col-md-12 row mb-4">
                                    <div class="form-group mb-1">
                                        <label>{{"SupplierName" | localize}}</label>
                                        <input #nameInput id="name" class="form-control" type="text" formControlName="name"
                                            name="name" />
                                    </div>
                            </div>
                            <div class="col-md-12 row mb-4">
                                <div class="col-md-4 row">
                                    <div class="form-group mb-1">
                                        <label>{{"Fax" | localize}}</label>
                                        <input #faxInput id="faxNumber" class="form-control" type="text" formControlName="faxNumber"
                                            name="faxNumber" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>{{"Email" | localize}}</label>
                                        <input #emailInput id="email" class="form-control" type="text" formControlName="email"
                                            name="faxNumber" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{"Phone" | localize}}</label>
                                        <input #mobileInput id="mobile" class="form-control" type="text" formControlName="mobile"
                                            name="mobile" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12 row mb-4">
                                <div class="col-md-5 row">
                                    <div class="form-group mb-1">
                                        <label>{{"Website" | localize}}</label>
                                        <input #websiteInput id="website" class="form-control" type="text" formControlName="website"
                                            name="website" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>{{"AccreditionsOrCertifications" | localize}}</label>
                                        <input #certificationsInput id="certifications" class="form-control" type="text" formControlName="certifications"
                                            name="certifications" />
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab class="pt-5" heading="{{ 'ContactPerson' | localize }}">
                        </tab>
                        <tab class="pt-5" heading="{{ 'SupplierBankDetails' | localize }}">
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-light-primary font-weight-bold"
                        (click)="close()"
                    >
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
